/* 
color selections: #ffaa00 - orange, #00bbff - light blue 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    
    /* stops text from overflowing to the right when resizing window */
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/* REUSABLE COMPONENTS */

.row {
    max-width: auto;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

.spacing-top {
    margin-top: 40px;
}

/* ---- HEADINGS -----  */

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #ffaa00;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ---- PARAGRAPHS ------ */

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 40px;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* ---- ICONS ------ */

.icon-big {
    font-size: 300%;
    display: block;
    color: #ffaa00;
    margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    /* allows you to assign width */
    width: 30px;
    text-align: center;
    /* allows to be centered */
    color: #ffaa00;
    font-size: 120%;
    /* *** this is one technique to align icons *** */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -4px;
    /* takes away space */
}

/* ---- LINKS   ------ */

a:link,
a:visited {
    color: #ffaa00;
    text-decoration: none;
    /* removes underline */
    padding-bottom: 1px;
    border-bottom: 1px solid #ffaa00;
    /* adds a border (artificially) */
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
    /* dissappaers the underline */
    -webkit-transition: border-bottom 0.4s, color 0.4s;
    transition: border-bottom 0.4s, color 0.4s;
    /* transistion element for dissappearing the underline */
}

/* ---- BUTTONS ------ */

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.3s, border 0.3s, color 0.3s;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #00bbff;
    border: 1px solid #ffaa00;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #000;
    color: #00bbff;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #00bbff;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #fff;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #fff;
    color: #fff;
}

/* HEADER COMPONENTS                    */

header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size: cover;
    /* shows whole image */
    background-position: center;
    /* moves image center */
    height: 100vh;
    background-attachment: fixed;
    /* background images stay fixed in the background, instead of scrolling */
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-black {
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
    display: none;
}

.customer-nav {
    text-decoration-color: black;
    background-color: black;
}


/* Main navi */

.main-nav {
    float: right;
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    width: 100%;
    background: #00bbff;
}

.main-links {
    margin-top: 30px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    margin-bottom: 5px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none; 
    text-transform:  uppercase;
    font-size: 130%;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.3s;
    transition: border-bottom 0.3s;
    padding: 0px;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #ffaa00;
}


/* Mobile navi */

.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    /* since it is not an href, there are no pointers on this, cursor rectifys it */
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}


/* Sticky navi */

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #ddd;
    z-index: 9999;
    /* always ensures that this element will be on top of all other elements, 9999 is max value */
    
}

.sticky .main-nav {
    margin-top: 15px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 15px 0;
    color: #555;
}

.sticky .logo {
    display: none;
}

.sticky .logo-black {
    display: block;
}


/* MEALS */

.section-meals {
    /* parent class of meals-showcase */
    padding: 0;
    /* resets padding between sections */
}

.meals-showcase {
    /* parent class of meals-showcase li, child of section-meals */
    list-style: none;
    /* removes bullet points from lists (don't want them for a list of images) */
    width: 100%;
    /* container of meals-showcase */
    padding: 0;
}

.meals-showcase li {
    /* parent of meal-photo, child class of meals-showcase */
    display: block;
    /* forces a linebreak after each li */
    float: left;
    /* force float side-by-side */
    width: 25%;
    /* # of elements / by 100% = width */
}

.meal-photo {
    /* parent class of meal-photo img, child class of meals-showcase li */
    width: 100%;
    /* fill in whole section of container */
    margin: 0;
    /* assigns 0 margins to meal-photo container */
    overflow: hidden;
    /* Prevents overflow from child container (so you don't have to scroll left to right when viewing images) */
    background-color: #000;
    /* background set to black */
}

.meal-photo img {
    /* child-class of meal-photo */
    opacity: 0.7;
    /* sets the opacity */
    width: 100%;
    /* fill in whole section of container */
    /* height: auto; /* maintain proper height-width ratio */
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    /* scales size */
    -webkit-transition: opacity .6s, -webkit-transform .6s;
    transition: opacity .6s, -webkit-transform .6s;
    transition: transform .6s, opacity .6s;
    transition: transform .6s, opacity .6s, -webkit-transform .6s;
    /* CSS3 prop, whenever a prop of meal-photo img modifies the presentation, these are the values it has to go back to default. */
}

.meal-photo img:hover {
    /* animation property of meal-photo img */
    opacity: 1;
    /* removes the background of meal-photo img */
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    /* CSS3 prop, changes scale of img to give a "zoom in" feel */
}


/* FEATURES */

.section-features .long-copy {
    /*  */
    margin-bottom: 35px;
}


/* HOW IT WORKS SECTION*/

.section-steps {
    background-color: #e0e0e0;
}

.steps-box:first-child {
    text-align: right;
    /* works on all inline block elements, including images */
    padding-right: 3%;
    /* padding vs pixels, allows this to be fluid (responsive web design) */
    margin-top: 30px;
    /* separate sections */
}

.steps-box:last-child {
    padding-left: 3%;
    /* same as above */
    margin-top: 70px;
}

.app-screen {
    width: 35%;
    z-index: 9999;
    /* fits 40% of total container */
}

.works-step {
    margin-bottom: 50px;
    /*  */
}

.works-step div {
    /* selects numbers */
    color: #ffaa00;
    /* format color of number */
    border: 2px solid #ffaa00;
    /*  */
    display: inline-block;
    /* element wont force a line break, element will be side by side with text */
    border-radius: 50%;
    /* makes a circle */
    height: 55px;
    /* makes it a circle */
    width: 55px;
    /* makes it a circle */
    text-align: center;
    /* centers the text */
    padding: 5px;
    /*  */
    float: left;
    /* forces the text to float to the left of the numbers */
    font-size: 150%;
    /*  */
    margin-right: 25px;
    /*  */
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}


/* CITIES */

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}


/* TESTIMONIALS */

.section-testimonials {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/hero.jpg);
    /* first 2 assigns a gradient to the background image, the last bit designates the destination of the image for the background */
    background-size: cover;
    /* fixes sizing of background image */
    color: #fff;
    /* changes color of text to white */
    background-attachment: fixed;
    /* background images stay fixed in the background, instead of scrolling */
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    /* before setting position, make sure the parent is relative */
    top: -5px;
    left: -3;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
    /* makes the element a block (auto forces a line break) */
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}


/* PLANS */

.section-plans {
    background-color: #e0e0e0;
}

.plan-box {
    background-color: #fff;
    border-radius: 10px;
    ;
    /* rounds corners */
    width: 90%;
    /* sets width based on parent (the col class) */
    margin-left: 5%;
    /* center's based on remaining 10% */
    box-shadow: 0 2px 2px #dedede/* first val: x-axis offset, 2nd val: y-axis offset, 3rd: blur, 4th: color */
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #dedede;
}

.plan-box div:first-child {
    background-color: #d4d4d4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}

.plan-price {
    font-size: 300%;
    font-weight: 300;
    margin-bottom: 10px;
    color: #ffaa00;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
    font-style: italic;
}

.plan-box ul {
    list-style: none;
    /* removes the li buttons */
}

.plan-box ul li {
    padding: 5px, 0;
}


/* FORM */

.contact-form {
    width: 90%;
    margin: 0 auto;
    /* top/bottom will be 0, left and right auto */
}

input[type=text],

/* new selector type using [] */

input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
    /* up right down left */
}

*:focus {
    outline: none;
}


/* removes blue borders from selecting a box */

.map-box {
    width: 100%;
    height: 560px;
    position: relative;
}

.map {
    width: 50%;
    height: 500px;
    position: relative;
    z-index: 0;
}

.form-box {
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
    height: 560px;
    padding-top: 40px;
}

.form-input {
    
}


/* FOOTER */

.section-footer {
    padding-bottom: 0px;
    width:100%;
    bottom: 0;
    left: 0;
    right 0;
}


footer {
    background-color: #333;
    padding: 40px;
    font-size: 80%;
    width: 100%;
}

.main-view-footer {
    padding-bottom: 0px;
    position: fixed;
        bottom: 0;
    left: 0;
    right 0;
}


.footer-nav {
    list-style: none;
    float: left;
}

.social-icons {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-icons li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-icons li:last-child {
    margin: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-icons li a:link,
.social-icons li a:visited {
    text-decoration: none;
    /* no decoration */
    border: 0;
    /* removes the border declared at top of this style.css sheet */
    color: #888;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.social-icons li a:link,
.social-icons li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #55acee;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #125688;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}

/* ANIMATIONS */

.js--wp-1,
.js--wp-2,
.js--wp-3 {
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 2s;
}

.js--wp-4 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
    opacity: 1;
}


/* MAIN-VIEW CSS */
.track-links {
    padding: 10px;
    border: solid;
    
}