<!DOCTYPE html>
<html lang="en" style="height:100vh">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Sun Project customer page placeholder.">


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <title>Profile</title>
    <meta name="theme-color" content="#ffffff">
</head>

<body class="d-flex flex-column coolBackground">
<%- include /partials/header.ejs %>
<div class="mainContent">
    <h2 class="coolHeader text-center">Packages around you</h2>
    <div ></div>
    <div class="container">
        <ul>
            <%data.sort(function(a,b){return a.howFar-b.howFar;})%> <!-- This allows use to sort by number. -->
            <%data.forEach(function(package){%> <!-- forEach to go through each package -->
            <%if (package.howFar <= 50){%> <!-- simple if statement -->
            <form action="/active"> <!-- package.howFar was the only unique thing I had -->
            <div class="list-group-item packageList"> <!-- TODO href hasn't been set. Goes to a "success" page and sets driverID on package -->
                <%=package.dest%>
                <input type="hidden" name="destPackage" value="<%=package.dest%>">
                <label>Distance</label>
                <%=package.howFar%>
                <button class="btn btn-primary" type="submit">Deliver package</button>
            </div>
            </form>
            <%}})%>
        </ul>
    </div>
    <!--Trying something else -->
</div>
<footer class="navbar-fixed-bottom">

</footer>

<!-- using jQuery to add some cool functionality-->
<script>
    $(document).ready(function(){
        $(".coolBackground").css({"background-position": "center bottom","background-image":"url('/images/cityLine.svg')"})
    });

</script>
</body>


