<!DOCTYPE html>
<html lang="en" style="height:100vh">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Sun Project customer page placeholder.">


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <title>Profile</title>
    <meta name="theme-color" content="#ffffff">
</head>

<body class="d-flex flex-column coolBackground">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/profile">Project Sun</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/sendPackage">Send Package</a></li>
                <li><a href="/testing">List Package</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="/profile" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile">Account Settings</a></li>
                        <li><a href="/profile">Change location</a></li>
                        <li><a href="/profile">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/profile">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="mainContent">
    <h2 class="coolHeader text-center">Packages around you</h2>
    <div ></div>
    <div class="container">
        <ul>
            <%data.sort(function(a,b){return a.howFar-b.howFar;})%> <!-- This allows use to sort by number. -->
            <%data.forEach(function(package){%> <!-- forEach to go through each package -->
            <%if (package.howFar <= 50){%> <!-- simple if statement -->
            <form action="/active"> <!-- package.howFar was the only unique thing I had -->
            <div class="list-group-item packageList"> <!-- TODO href hasn't been set. Goes to a "success" page and sets driverID on package -->
                <%=package.dest%>
                <input type="hidden" name="destPackage" value="<%=package.dest%>">
                <label>Distance</label>
                <%=package.howFar%>
                <button class="btn btn-primary" type="submit">Deliver package</button>
            </div>
            </form>
            <%}})%>
        </ul>
    </div>
    <!--Trying something else -->
</div>
<footer class="navbar-fixed-bottom">

</footer>

<!-- using jQuery to add some cool functionality-->
<script>
    $(document).ready(function(){
        $(".coolBackground").css({"background-position": "center bottom","background-image":"url('/images/cityLine.svg')"})
    });

</script>
</body>


